$white: #ffffff;
$black: #000000;
$brand: #409EFF;
$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;


/* border-color */
$b-border:#DCDFE6;
$l-border:#E4E7ED;
$m-border:#EBEEF5;
$s-border:#F2F6FC;

/* font-color */
$b-title: #303133;
$s-title: #606266;
$m-title: #909399;
$ms-title: #c0c4cc;
$info: #999999;


/* box-shadow */
$basic-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
$light-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);


/* border-raduis */
$lg-rd: 12px;
$m-rd: 6px;
$s-rd: 3px;

/* font-size */
$font12: 12px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font18: 18px;
$font24: 24px;
$font30: 30px;
$font40: 40px;


$height: 80px;
$layout-width: 1200px;